<%- include('./partials/header'); %>

<div class="container">

<h1>Welcome to the Commerce page.</h1>

<h2>View all our high quality products.</h2>
<p></p>
<a class="btn btn-primary" href="./products" role="button">Go to Products.</a>
<a class="btn btn-primary" href="./products/new" role="button">Create new Product.</a>


</div>

<%- include('./partials/footer'); %>
