<%- include('./partials/header');%> 

<div class="container">


<h1>Paypal</h1>


<form action="/paypal" method="GET">
    <input class="btn btn-info" type="submit" value="Submit">

</form>

<div class="payback">
    <a class="btn btn-primary" href="/addtocart" role="button">Back to checkout</a>
</div>


</div><!--Container div-->

<%- include('./partials/footer');%> 